[Desktop Entry]
Type=Application
Name=Passwords
Comment=Password manager
Exec=password-gui
Icon=dialog-password
Terminal=false
Categories=Utility;Security;Qt;
